// fonts
$font-text: "Montserrat-Regular", Verdana, serif;
$font-header: "Montserrat-Medium", Verdana, serif;

//colors
$black: #000000;
$light-accent: #F6F6F6;
$strong-accent: #FFE8E8;
$font-text-color: #6D6D6D;
$font-header-color: #999999;
